# Ignorar todo en esta carpeta
*

# Excepto este archivo .gitignore
!.gitignore

# Excepto el archivo README.md con las instrucciones de descarga
!README.md

# Permitir carpetas necesarias para RAG
!knowledge_base/
!knowledge_base/**

!datasets/
!datasets/*.csv
